<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes initial-scale=1.0,maximum-scale=3.0
    minimum-scale=1.0">
    <title>Restaurante</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/font.css">
</head>
<body>
    <header class="main-header">
        <div class="container container--flex">
          <div class="logo-container column column--50">
              <h1 class="logo">Restaurante</h1></div>
          <div class="main-header__contactInfo column column--50">
              <p class="main-header__contactInfo__phone">
                  <span class="icon-phone">0412-652-6040</span>
              </p>
              <p class="main-header__contactInfo__address">
                 <span class="icon-location">Urb Santa Teresa-Tachira-Venezuela</span></p>
        </div>
    </header>
    <nav class="main-nav">
        <div class="container container--flex">
        <span class="icon-menu" id="btn-menu"></span>
        <ul class="menu" id="menu">
            <li class="menu_em"><a href="/" class="menu__link menu__link--select">Inicio</a></li>
            <li class="menu__item"><a href="nosotros" class="menu__link">Nosotros</a></li>
            <li class="menu__item"><a href="galeria" class="menu__link">Galeria</a></li>
            <li class="menu__item_it"><a href="contacto" class="menu__link">Contacto</a></li>
        </ul>
        <div class="social-icon">
            <a href="" class="social-icon__link"><span class="icon-facebook"></span></a>
            <a href="" class="social-icon__link"><span class="icon-mail"></span></a>
            <a href="" class="social-icon__link"><span class="icon-youtube"></span></a>
        </div>
    </nav>
    <section class="banner">
        <img src="img/banner.jpg" alt="" class="banner__img">
        <div class="banner__content">La mejor y exquisita comida para ti</div>
    </section>
     <main class="main"> 
         <section class="group group--color">
             <div class="container">
                 <h2 class="main__title">Bienvenido a su Restaurante</h2>
                 <p class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempora vitae laborum, velit maiores asperiores dolores cumque rem voluptatem, atque adipisci deleniti ducimus alias cupiditate perspiciatis tempore, sed esse et.</p>
             </div>
         </section>

          <section class="group main__about__description">
          <div class="container container--flex">
            <div class="column column--50">
              <img src="img/food1.jpg" alt="" class="img">
            </div>
          <div class="column column--50">
              <h3 class="column__title">Expertos en pizzas</h3>
              <p class="column__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ducimus et accusamus reiciendis eos, rem consequuntur numquam doloremque quibusdam blanditiis sed velit assumenda veniam perferendis fuga dolorem odit temporibus delectus?</p>
              <a href="" class="btn btn__contact">Contacto</a>
              </div>
          </div>
            </section>
              <section class="group today-special">
              <h2 class="group__title">Especiales de hoy</h2>
              <div class="container container--flex">
                <div class="column column--50-25">
                    <img src="img/plate1.jpg" alt="" class="today-special__img">
                    <div class="today-special__title">Especial del dia 1</div>
                    <div class="today-special__price">$99</div>
                </div>
                <div class="column column--50-25">
                    <img src="img/plate2.jpg" alt="" class="today-special__img">
                    <div class="today-special__title">Especial del dia 2</div>
                    <div class="today-special__price">$99</div>
                </div>
                <div class="column column--50-25">
                    <img src="img/plate3.jpg" alt="" class="today-special__img">
                    <div class="today-special__title">Especial del dia 3</div>
                    <div class="today-special__price">$99</div>
                </div>
                <div class="column column--50-25">
                    <img src="img/plate4.jpg" alt="" class="today-special__img">
                    <div class="today-special__title">Especial del dia 4</div>
                    <div class="today-special__price">$99</div>
                </div>
            </section>
          </div>
        </section>

        
    </main>
    <footer class="main-footer">
            <div class="container container--flex">
                <div class="column column--33"><h2 class="column__title">Por que visitarnos?</h2>
                <p class="column__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque asperiores dignissimos non saepe unde in placeat perspiciatis maiores. Ipsam inventore dolor earum cumque ullam voluptates nemo veniam pariatur reprehenderit quod.</p></div>
                <div class="column column--33"><h2 class="column__title">Contactanos</h2>
                <p class="column__text">Urb Santa Teresa - Tachira, Venezuela</p>
                <p class="column__text">Telefono:999-999-999</p>
                <p class="column__text">consultas@turestaurante.com</p>
            </div>
                <div class="column column--33">
                    <h2 class="column__title">Siguenos en nuestras redes</h2>
                    <p class="column__text"><a href="" class="icon-facebook">Facebook</a></p>
                    <p class="column__text"><a href="" class="icon-mail">Escribenos</a></p>
                    <p class="column__text"><a href="" class="icon-youtube">Siguenos en nuestro canal</a>
                    </p>
                   
            </div>
            </div>
            <p class="copy">2020 Tu restautante / Todos los derechos</p>
</footer>
<script src="js/menu.js"></script>
</body>
</html>